<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> GreenCycle</title>
        <link rel="stylesheet" href="/styles/style1.css">
        <script src="https://kit.fontawesome.com/88df4f05cc.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header class="header">
            <div class="logo">
            <img src="/images/logo.jpeg"> <strong> GreenCycle</strong> 
            </div>  
            
            <div class="menu">
                <nav>
                   <ul>
                       <li> <a href="/" style="color: black;"> SERVICIOS </a> </li>
                       <li> <a href="/nosotros" style="color: black;">  NOSOTROS </a>  </li>
                       <li> <a href="#footer" style="color: black;"> CONTACTO </a> </li>
                       <li class="pse"> PAGO ONLINE </li>
                       <li class="cotiza">  <a href="/cotiza" style="color: black;"> COTIZA GRATIS</a> </li>
                   </ul>
               </nav>
                   
        </header>

        <section style="background-color: #24cd24; color: white; height: 65px; font-size: 40px; font-weight: bold;">
            <p style="margin-left: 25px;"> ¿Quiénes Somos?</p>
        </section>
       
        <section style="display: flex; flex-direction: column;">

        <section class = "boxes"> 

            <p style="flex: 1; padding-right: 100px; text-align: justify;"> "Greencycle: Transformando Residuos Orgánicos en Recursos Sostenibles. En un mundo cada vez más consciente de la sostenibilidad, Greencycle lidera la recolección de residuos orgánicos con una visión única y comprometida. Nuestra misión es clara: transformar residuos orgánicos en recursos sostenibles. Ofrecemos servicios de recolección para empresas, restaurantes y supermercados, reduciendo la contaminación y trabajando incansablemente para minimizar la huella ambiental. En Greencycle, invitamos a todos a unirse a nuestra misión de preservar el planeta y promover un futuro más verde. Juntos, podemos marcar la diferencia y crear un mundo más sostenible para las generaciones venideras.
                Descubra cómo Greencycle está transformando los residuos orgánicos en recursos sostenibles y únase a nosotros en este viaje hacia un futuro más limpio y verde. Visítenos en nuestra página web www.greencycle.com.co, dónde podrá encontrar nuestro aplicativo de autogestión de recolección, seguimiento de rutas, programación de recogida, entre otros servicios.
            </p>
            
            <img src="/images/378276711_122115581696026200_290177977865636733_n.jpg" style="max-width: 50%;">
            
    
           
        </section>



        <section style="background-color: #51f73b;">
            <div>
                <p style="color: #274b08; font-size: 35px; height: 10px; padding-left: 20px;"> Visión </p>
            </div>
            <div class = "boxesGreen" style="height: 530px;">
            <p> En el año 2034, seremos el referente indiscutible en la gestión de residuos orgánicos aprovechables a nivel regional en la costa caribe colombiana. Nos comprometemos a ofrecer soluciones sostenibles y avanzadas que superen las expectativas de nuestros clientes y aporten un impacto positivo en el medio ambiente. A través de la expansión estratégica de nuestros servicios y la continua innovación tecnológica, nos esforzaremos por aumentar significativamente nuestra base de clientes, manteniendo siempre nuestra pasión por la excelencia y la responsabilidad ambiental.</p>
            <img src="/images/377440174_122114965076026200_4141824063802628961_n.jpg" style="max-width: 49%;">
            </div>
           
        </section>

        <section>
            <div>
                <p style="font-size: 35px; padding-left: 20px;"> Misión </p>
            </div>
            <div class="boxes">    
            <p> En GreenCycle, somos la vanguardia en la gestión de residuos orgánicos aprovechables, redefiniendo la sostenibilidad ambiental y el equilibrio ecológico en las empresas, especialmente en restaurantes, clínicas y supermercados; pensando siempre en la comodidad de nuestros clientes. Transformamos por completo la forma en que se abordan los residuos orgánicos al brindar soluciones innovadoras y responsables a través de nuestra plataforma en línea, a la vez que recompensamos con precios justos a nuestros clientes por su compromiso con un futuro más limpio y saludable.</p>   
            <img src="/images/truck.jpg" style="max-width: 50%;">
            </div>
        </section>
        </section>

        <section class="lineas">
            <div class="atencion">
            </div>

            <p style="font-weight: bold; font-size: 20px;"> Nuestras líneas de atención</p>

            <div style="position: absolute;">
                <i class="fa-solid fa-phone-volume fa-beat fa-xl" style="color: #51f73b; font-size: 100px; margin-left: 30px; margin-right: 30px;"></i>
            </div>

        <div style="display: flex; justify-content: space-evenly; padding: 10px; margin: 10px;">

           <div class="numeros-contactos">
                <i class="fa-brands fa-whatsapp"></i>
                <strong> 310 429 1184 </strong>
           </div>
           
           <div class="numeros-contactos">
            <i class="fa-solid fa-phone"></i>
            <strong> 310 429 1184</strong>
           </div>

           <div class="numeros-contactos">
            <i class="fa-brands fa-instagram"></i>
            <a href="https://www.instagram.com/greencycle_1/"><strong> GreenCycle_1</strong></a>
            </div>

            <div class="numeros-contactos">
             <i class="fa-brands fa-facebook"> </i>
             <a href="https://www.facebook.com/profile.php?id=61550786027543"> <strong> GreenCycle</strong></a>
            </div>
         </div>           
        </section>

        <footer id="footer" class="footer">
            <nav class="footer">
            <ul>
                <li> POLÍTICA DE PRIVACIDAD</li>
                <li> PQR</li>
                <li> CERTIFICACIONES</li>
            </ul>
            </nav>
    
         </footer>

    </body>

</html>
